<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoWater - Portal Geográfico</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>

    <nav class="main-nav">
        <div class="nav-content">
            <div class="nav-left">
                <img src="../static/img/logo.png" alt="Logo del Proyecto" class="logo">
                <h1 class="project-title">GeoWater | Problemas de Acueducto en Guaduas</h1>
            </div>
            <div class="nav-right">
                <ul>
                    <li class="nav-item"><a href="index.html" class="active">Inicio</a></li>
                    <li class="nav-item"><a href="acerca.html">Acerca de</a></li>
                    <li class="nav-item"><a href="descripcion.html">Descripción</a></li>
                    <li class="nav-item"><a href="autor.html">Autor</a></li>
                    <li class="nav-item"><a href="addpoint.html">Agregar Punto</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="content-container">
    
        <div class="interactive-card">
            <section class="hero-section">
                <img src="../static/img/guaduas.webp" alt="Imagen de Guaduas" class="hero-image">
            </section>
        </div>

        <div class="interactive-card">
            <section class="description-section">
                <h2>Bienvenido a GeoWater</h2>
                <p>
                    Esta plataforma es una herramienta colaborativa diseñada para identificar, mapear y analizar los desafíos en la infraestructura del acueducto de Guaduas, Cundinamarca. Tu participación es fundamental para construir una base de datos que nos permita entender mejor los problemas y trabajar hacia soluciones efectivas.
                </p>
            </section>
        </div>

    </main>

    <footer class="main-footer">
        <p>&copy; 2025 Brayan Camilo Bolivar</p>
    </footer>

</body>
</html>